body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

button {
  font-size: inherit;
  font-family: inherit;
}

canvas {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

main {
  margin: 1rem;
}

[hidden] {
  display: none !important;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 512px;
  width: 512px;
  margin-bottom: 1rem;

  background-color: #000;
}

.input-output {
  display: flex;
  margin-bottom: 1rem;

  align-items: flex-start;
  flex-flow: row wrap;
  gap: 1rem;
}

.feedback-box {
  padding: 1rem;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.75);

  color: #fff;
}

@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
Modified version of:
https://github.com/jlong/css-spinners/blob/master/css/spinner/three-quarters.css
*/
.three-quarters-loader {
  animation: three-quarters-loader 1250ms infinite linear;
  border: 0.125rem solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 0.75rem;
  height: 0.75rem;
}
